[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/themes/spaceship-prompt"]
	path = .oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
[submodule "pinentry-tem"]
	path = pinentry-tem
	url = https://github.com/notpushkin/pinentry-tem.git
[submodule ".tmux/plugins/tmux-pass"]
	path = .tmux/plugins/tmux-pass
	url = https://github.com/rafi/tmux-pass
[submodule ".oh-my-zsh/custom/plugins/zsh-vi-mode"]
	path = .oh-my-zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule ".tmux/plugins/tmux-battery"]
	path = .tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule ".tmux/plugins/tokyo-night-tmux"]
	path = .tmux/plugins/tokyo-night-tmux
	url = https://github.com/janoamaral/tokyo-night-tmux
[submodule "yazi/plugins/omp.yazi"]
	path = yazi/plugins/omp.yazi
	url = https://github.com/saumyajyoti/omp.yazi
