[user]
    email = raimguzhinov@protei-lab.ru
    name = Dias B. Raimguzhinov
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    hist = log --oneline --decorate --graph --all
    bcommit = "!f() { git commit -m \"$(git symbolic-ref --short HEAD) $@\"; }; f"
[core]
    pager = delta
    autocrlf = input
	editor = /usr/bin/nvim
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    line-numbers = true
    side-by-side = true
    features = decorations
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[url "ssh://git@git.protei.ru/"]
    insteadOf = https://git.protei.ru/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
